<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<h1>Страница <span>[[${#request.remoteUser}]]</span></h1>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>firstname</th>
            <th>email</th>
<
        </tr>

        <tr th:each="user :${user}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getFirstname()}"></td>
            <td th:text="${user.getEmail()}"></td>


            </td>
        </tr>
    </table>
    <br>
    <button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</div>
</body>
</html>